@media screen and (max-width: 480px) {
	body {
		background-image: none;
	}

	#header1 {
		float: none;
	}

	.boxed {
		opacity: 0.98;
		/* padding-top: 20px; */
		background: rgb(42, 182, 152);
		border: 4px double rgb(42, 182, 152);
		border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
		/* padding-left: 100px; */
	}

	#primary1 {
		opacity: .98;
		margin-top: 200px;
		height: 500px;
		width: 100%;
		padding-top: 20px;
		/* padding-left: 20px; */
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
    	box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	#secondary1 {
		opacity: .98;
		margin-top: 20px;
		height: 500px;
		width: 100%;
		padding-top: 20px;
		/* padding-left: 20px; */
		background:rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
		margin-top: 50px;
	}

	#primary2 {
		opacity: .98;
		margin-top: 200px;
		margin-bottom: 20px;
		height: 1050px;
		width: 100%;
		padding-top: 20px;
		/* padding-left: 20px; */
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
    	box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	#secondary2 {
		opacity: .98;
		margin-top: 75px;
		height: 500px;
		width: 40%;
		float: right;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	#primary3, #primary4 {
		opacity: .98;
		/* margin-top: 0px; */
		width: 95%;
		/* float: center; */
		padding-top: 20px;
		margin-left: auto;
		margin-right: auto;
		/* padding-left: 20px; */
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	#secondary3, #secondary4 {
		opacity: .98;
		margin-top: 40px;
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		/* float: right; */
		padding-top: 20px;
		/* padding-left: 20px; */
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	/* #primary4 {
		opacity: .98;
		margin-top: 75px;
		width: 50%;
		float: left;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 75, 182);
    	border: 4px double rgb(42, 75, 182);
    	border-radius: 30px;
		box-shadow: rgba(42, 75, 182) 0px 0px 20px 10px;
	}

	#secondary4 {
		opacity: .98;
		margin-top: 75px;
		width: 40%;
		float: right;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 75, 182);
    	border: 4px double rgb(42, 75, 182);
    	border-radius: 30px;
		box-shadow: rgba(42, 75, 182) 0px 0px 20px 10px;
	} */
	
	footer {
		font-size: 0.75em;
		text-align: center;
		clear: both;
		padding-top: 50px;
		color: rgb(42, 182, 152);
	}
}


@media screen and (min-width: 481px) {
	/********************
	TWO COLUMN LAYOUT
	********************/
	.boxed {
		opacity: 0.98;
		/* padding-top: 20px; */
		background: rgb(42, 182, 152);
		border: 4px double rgb(42, 182, 152);
		border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	.hobby{
		padding-left: 250px;
	}

	/* #primary1 {
		clear: both;
		opacity: .98;
		margin-top: 75px;
		width: 50%; */
		/* margin-left: auto;
		margin-right: auto; */
		/* padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 75, 182);
    	border: 4px double rgb(42, 75, 182);
    	border-radius: 30px;
    	box-shadow: rgba(42, 75, 182) 0px 0px 20px 10px;
	} */

	/* #secondary1 {
		opacity: .98;
		margin-top: 75px; */
		/* height: 500px; */
		/* width: 40%;
		float: right;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 75, 182);
    	border: 4px double rgb(42, 75, 182);
    	border-radius: 30px;
		box-shadow: rgba(42, 75, 182) 0px 0px 20px 10px;
	} */
 
	#primary2 {
		opacity: .98;
		margin-top: 40px;
		margin-left: 150px;
		height: 500px;
		width: 70%;
		float: left;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
		line-height: 25px;
	}

	#secondary2 {
		opacity: .98;
		margin-top: 75px;
		height: 500px;
		width: 40%;
		float: right;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	} 

	 #primary3 {
		opacity: .98;
		margin-top: 75px;
		width: 50%;
		float: left;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	} 

	#secondary3 {
		opacity: .98;
		margin-top: 75px;
		width: 40%;
		float: right;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	#primary4, #primary1{
		opacity: .98;
		margin-top: 75px;
		width: 50%;
		float: left;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	#secondary4, #secondary1{
		opacity: .98;
		margin-top: 75px;
		width: 40%;
		float: right;
		padding-top: 20px;
		padding-left: 20px;
		background: rgb(42, 182, 152);
    	border: 4px double rgb(42, 182, 152);
    	border-radius: 30px;
		box-shadow: rgb(42, 182, 152) 0px 0px 20px 10px;
	}

	 /********************
	PAGE:HOME
	********************/
	
	#gallery li {
		width: 28.3333%;
	}
	
	#gallery li:nth-child(4n) {
		clear: left;
	}
	
	/********************
	PAGE:HOME
	********************/
	
	.profile-photo {
		float: left;
		margin: 0 5% 80px 0;
	} 	
}

@media screen and (min-width: 660px) {
	
	/********************
	HEADER
	********************/
	
	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}
	
	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%;
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	h2 {
		font-size: 0.825em;
		margin-bottom: 20px;
	}
	
	header {
		border-bottom: 5px solid rgb(42, 182, 152);
		margin-bottom: 60px;
	}
	
}